@import url(./reset.css);

.ramdajs {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 63px;
}


/*Header*/

.logo {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.blue {
    color: #4BCAFF;
}


.nav-list {
    display: flex;
    justify-content: center;
    height: 69px;
    margin-top: 40px;
    background: #35444F;
    align-items: center;
}

.nav-item {
    display: flex;
    margin: 0 -1px 0 -1px;
    align-items: center;
    text-align: center;
    height: 69px;
    padding: 0 3%;
    border-left: 1px solid #FFFFFF;
}

.nav-item:nth-of-type(4) {
    border-right: 1px solid #FFFFFF;
}


.nav-item:hover {
    background-color: #222F3A;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    height: 100%;
    color: #FFFFFF;
}



/*Main*/

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
}


.block-sidebar {
    flex: 1 auto;
}

.sidebar {
    display: flex;
    height: 399px;
    border: 1px solid #000000;
    margin-top: 49px;
}

.side-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 399px;
}


.side-item {
    display: flex;
    justify-content: space-evenly;
    padding-left: 44px;
    height: 100%;
    align-items: center;
}

.side-item:hover {
    background: #DBDBDB;
    color: black;
}

.side-link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    transition: transform 0.3s;
}

.side-link:hover {
    color: black;
    transform: translate(36px);
}

.image-box {
    display: flex;
    justify-content: center;
    margin-top: 49px;
    height: 529px;
    border: 1px solid black;
}

.image {
    align-self: center;
    transition: 1s;
}

.image:hover {
    transform: scale(1.3);
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
    width: 885px;
}


/*Footer*/

.footer {
    display: flex;
    height: 69px;
    background: #63696E7A;
    margin-top: 54px;
    margin-bottom: 30px;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
    flex: 1 auto;
    align-items: center;
}

.footer-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

.footer-link {
    text-decoration: none;
    color: #010101;
}

.footer-link:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer-item:nth-of-type(6) {
    padding-left: 135px;
}

